*.iml
.gradle
/local.properties

/.idea
.DS_Store
/build
/captures
.externalNativeBuild
gradlew.bat

#micronet files
tab8platformkey.properties
micronet-tab8-platform.keystore

/app/gradle/
/app/local.properties

